:root {
  background-color: #36393f;
}

.modal,
.modal-footer {
  color: #dcddde !important;
  background-color: #36393f !important;
}

.modal-content > h4 {
  font-size: 25px; 
}

.modal a {
  color: #dcddde !important; 
}

.main-content {
  min-height: 100vh !important;
}

.quote,
.input-label {
  color: #aeaeae !important;
}

.input-label {
  font-size: 13px !important;
}

.title {
  color: #dcddde !important;
  margin-bottom: 0px;
}

.input-value {
  color: #dcddde !important;
}

::placeholder {
  color: #7e7e7e !important;  
}

.character-counter {
  display: none;
}

.finish {
  display: flex;
  justify-content: space-around;
}

#test_translation {
  resize: none;
  padding-bottom: 10px;
  border-bottom: 1.3px solid #9d9d9d;
  font-size: 16px;
}

#test_translation:focus {
  outline: none;
  border-bottom: 1.3px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

#test_translation[placeholder]:empty::before {
  content: attr(placeholder);
  color: #7e7e7e;
}

#test_translation[placeholder]:empty:not('') {
  content: "";
}

.btn-floating {
  margin: 48px;
}
